{% extends 'base.html' %}

{% block content %}
    <!-- page header -->
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1>Tasker Welcome</h1>
            <p class="lead">This is simple task management app.</p>
        </div>
    </div> <br> <!-- end of page heading -->

    <!-- page content -->
    <div class="row justify-content-md-center">
        <div class="co-sm-6 text-center">
            <h3>Recent Posts</h3>
        </div>
    </div> <br> <!-- end of section title -->

    <div class="row">
        <div class="col-sm-4 align-self-end">
           {% include 'partials/posts-list.html' %}
        </div>
    </div>

{% endblock %}