{% extends 'base.html' %}

{% block content %}
    <!-- page header -->
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1>Tasker Welcome</h1>
            <p class="lead">This is simple task management app.</p>
        </div>
    </div> <br> <!-- end of page heading -->

    <!-- page content -->
    <div class="row">
        <div class="col-sm-4">
            <h3>Recent Posts</h3> <br>
            {% include 'partials/posts-list.html' %}
        </div>
        <div class="col-sm-8">
            <h3>About Tasker</h3> <br>
            <div id="aboutApp">
                {% for row in about %}
                    <p id="about{{ loop.index }}">{{ row }}</p>
                {% endfor %}
            <button id="readMoreBtn" class="btn btn-primary">More / Less</button>
            </div>

        </div>


    </div>

{% endblock %}

{% block js_block %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}