body {
    padding-bottom: 80px;
}

.bold {
    font-weight: bold;
}

.ff-error{
    font-weight: bold;
    color: red;
}

.recent-post{
    background-color: lightblue;
    border: 2px solid black;
}